<div class="hero bg-base-100 py-6 md:py-20">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-3xl md:text-5xl font-bold">Book your HOSTEL, Anywhere, Anytime</h1>
      <p class="py-2 md:py-6 text-neutral">
        With just your smart phone, you can book your hostel in the application and pay with mpesa.... easy huh..
      </p>
      <div class="flex flex-col sm:flex-row gap-4 justify-center items-center">
        <button
          class="bg-secondary text-white px-8 py-2 md:py-4 rounded-full font-bold text-lg hover:shadow-2xl transition-all hover-scale"><a
            [routerLink]="'/signup'">
            🏠 Sign Up </a>
        </button>
        <button
          class="bg-secondary text-white px-8 py-2 md:py-4 rounded-full font-bold text-lg hover:shadow-2xl hover:bg-base-100 hover:text-secondary transition-all hover-scale"><a
            [routerLink]="'/login'">
            🏠 Login </a>
        </button>
      </div>
    </div>
  </div>
</div>