<div class="mx-auto my-5 p-6 rounded-lg shadow-xl">
  <form id="changePasswordForm" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" #form="ngForm"
    class="flex flex-1 flex-col mx-auto m-[2%] p-[2%]">
    <h3 class="text-lg font-bold text-center">CHANGE ROLE FORM</h3>
    <label for="currentPassword" class="text-lg font-medium">Current Password:</label>
    <input type="password" id="currentPassword" formControlName="currentPassword"
      class="input input-bordered input-sm bg-white w-full" placeholder="Current Password">
    @if (changePasswordForm.get('currentPassword')?.invalid && form.submitted) {
    <p class="text-red-500 text-xs ml-1">
      Current Password is required.
    </p>
    }
    <label for="newPassword" class="text-lg font-medium">New Password:</label>
    <input type="password" id="newPassword" formControlName="newPassword"
      class="input input-bordered input-sm bg-white w-full" placeholder="New Password">
    @if (changePasswordForm.get('newPassword')?.invalid && form.submitted) {
    <p class="text-error text-xs ml-1">
      Enter New Password.
    </p>
    }
    @if (changePasswordForm.get('newPassword')?.errors?.['minlength']) {
    <p class="text-error text-xs ml-1">
      Password must be at least 8 characters.
    </p>
    }
    @if (changePasswordForm.get('newPassword')?.errors?.['pattern']) {
    <p class="text-error text-xs ml-1">
      Password must contain at least one special character.
    </p>
    }

    <label for="confirmPassword" class="text-lg font-medium">Confirm New Password:</label>
    <input type="password" id="confirmPassword" formControlName="confirmPassword"
      class="input input-bordered input-sm bg-white w-full" placeholder="Confirm New Password">
    @if (changePasswordForm.get('confirmPassword')?.invalid && form.submitted) {
    <p class="text-error text-xs ml-1">
      Confirm New Password.
    </p>
    }
    @if (changePasswordForm.get('confirmPassword')?.touched && changePasswordForm.errors?.['passwordsMismatch']) {
    <div class="text-error text-xs ml-1">
      Passwords do not match.
    </div>
    }
    <div class="mt-4">
      <app-button [buttonProps]="submitButtonProps" />
    </div>
    <app-toast [showToast]="toastVisible()" [styles]="toastStyles()" [alertStyle]="alertStyles()"
      [alertMessage]="alertMessage()" />
  </form>
</div>