/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
    name: 'light';
    default: true;
    --color-primary: #BFCDE0;
    --color-secondary: #5D5D81;
    --color-accent: #00def7;
    --color-neutral: #080F0f;
    --color-base-100: #BFCDE0;
    --color-info: #00aefb;
    --color-success: #009c56;
    --color-warning: #ff9000;
    --color-error: #ff6c75;
}