<h1 class="text-2xl md:text-[35px] font-bold sm:text-center">STUDENT APPLICATION DETAILS</h1>
<p class="my-3 md:my-5 text-sm md:text-base">
    View a clear and detailed overview of your application details. All your key information, including application
    period, application status, and any required actions, is neatly displayed in an easy-to-read table. With
    everything organized in one place, this page helps you stay on top of your application journey effortlessly.
</p>
<app-card [title]="cardTitle" baseStyles="card card-compact bg-base-100 shadow-xl">
    @defer(when tableData()){
    <div class="mt-6">
        <div class="mb-8">
        <h3 class="text-lg font-semibold pb-2 border-b border-gray-200 mb-4">
          Personal Information
        </h3>
        <div class="grid md:grid-cols-2 gap-4">
          <div>
            <span class="font-medium text-gray-600">Application ID:</span>
            <span class="ml-2">{{ tableData()?.applicationNo}}</span>
          </div>
          <div>
            <span class="font-medium text-gray-600">Application Period:</span>
            <span class="ml-2">{{ tableData()?.applicationPeriod}}</span>
          </div>
          <div>
            <span class="font-medium text-gray-600">Registration Number:</span>
            <span class="ml-2">{{tableData()?.registrationNo}}</span>
          </div>
        </div>
      </div>

      <div class="mb-8">
        <h3 class="text-lg font-semibold pb-2 border-b border-gray-200 mb-4">
          Needs Assessment Information
        </h3>
        <div class="grid md:grid-cols-2 gap-4">
          <div>
            <span class="font-medium text-gray-600">Disabled:</span>
            <span class="ml-2">{{tableData()?.disability}}</span>
          </div>
          <div>
            <span class="font-medium text-gray-600">Disability Details:</span>
            <span class="ml-2">{{tableData()?.disabilityDetails || 'Not applicable'}}</span>
          </div>
          <div>
            <span class="font-medium text-gray-600">Accommodated within university before:</span>
            <span class="ml-2">{{tableData()?.accommodatedBefore}}</span>
          </div>
          <div>
            <span class="font-medium text-gray-600">Accommodation Period:</span>
            <span class="ml-2">{{tableData()?.accomodationPeriod || 'Not applicable'}}</span>
          </div>
          <div>
            <span class="font-medium text-gray-600">Sponsored:</span>
            <span class="ml-2">{{tableData()?.isSponsored}}</span>
          </div>
          <div>
            <span class="font-medium text-gray-600">Sponsor Details:</span>
            <span class="ml-2">{{tableData()?.sponsor || 'Not applicable'}}</span>
          </div>
          <div>
            <span class="font-medium text-gray-600">Receives Helb:</span>
            <span class="ml-2">{{tableData()?.receivesHelb}}</span>
          </div>
          <div>
            <span class="font-medium text-gray-600">Helb Amount:</span>
            <span class="ml-2">{{tableData()?.helbAmount || 'Not applicable'}}</span>
          </div>
          <div>
            <span class="font-medium text-gray-600">Received Bursary Before:</span>
            <span class="ml-2">{{tableData()?.receivedBursary}}</span>
          </div>
          <div>
            <span class="font-medium text-gray-600">Bursary Amount:</span>
            <span class="ml-2">{{tableData()?.bursaryAmount || 'Not applicable'}}</span>
          </div>
          <div>
            <span class="font-medium text-gray-600">Work Study Benefits Before:</span>
            <span class="ml-2">{{tableData()?.workStudyBenefitsBefore}}</span>
          </div>
          <div>
            <span class="font-medium text-gray-600">Work Study Period:</span>
            <span class="ml-2">{{tableData()?.workStudyPeriod || 'Not applicable'}}</span>
          </div>
          <div>
            <span class="font-medium text-gray-600">Deferred before:</span>
            <span class="ml-2">{{tableData()?.specialExamsOnFinancialGrounds}}</span>
          </div>
          <div>
            <span class="font-medium text-gray-600">Defer Period:</span>
            <span class="ml-2">{{tableData()?.specialExamPeriod || 'Not applicable'}}</span>
          </div>
        </div>
        <div class="mt-4">
          <span class="font-medium text-gray-600">Reasons for consideration:</span>
          <span class="ml-2">{{tableData()?.reasonsForConsideration}}</span>
        </div>
      </div>
    </div>
    } @placeholder{
    <app-loading [styles]="loadingStyles" />
    }
</app-card>