<h1 class="text-[35px] font-bold">Welcome to the Admin Dashboard!</h1>
<p class="mt-3">Gain complete control over the management of the system with an intuitive and streamlined admin
    dashboard. Easily register hostels and add room details, ensuring all accommodations are accurately cataloged.
    Effortlessly manage user roles, update personal profile information, and access a clear overview of registered
    users. This page is designed to empower administrators to efficiently handle tasks and maintain an organized,
    well-functioning system with minimal effort.
</p>
<div class="flex flex-col md:flex-row">
    <app-card [title]="'Total Applications'" baseStyles="card bg-accent shadow-xl rounded-lg m-3 flex-1">
        <div class="flex flex-1">
            <p class="font-bold m-1">14</p>
        </div>
    </app-card>
    <app-card [title]="'Total Hostels available'" baseStyles="card bg-accent shadow-xl rounded-lg m-3 py-1 flex-1">
        <p class="font-bold">14</p>
    </app-card>
    <app-card [title]="'Total Rooms Available'" baseStyles="card bg-accent shadow-xl rounded-lg m-3 py-1 flex-1">
        <p class="font-bold">14</p>
    </app-card>
</div>